<%= render "public/shared/header" %>
<h1></h1>
注文情報
<div class="col-5 ml-3">
  <table class="table">
    <thead>
      <h3>注文履歴詳細</h3>
    </thead>
    
      <tbody>
        注文情報
         <tr>
          <td>注文日</td>
          <td>配送先</td>
          <td>支払方法</td>
          <td>ステータス</td>
        </tr>
      </tbody>
      
      
       <tbody>
        請求情報
         <tr>
          <td>商品合計</td>
          <td>配送料</td>
          <td>ご請求額</td>
        </tr>
      </tbody>
      
      
       <tbody>
        注文内容
        
        <tr>
          <th>商品</th>
          <th>単価(税込)</th>
          <th>個数</th>
          <th>小計</th>
        </tr>
         <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
      
      
  </table>

</div>





